!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 迷子ナビチャット
    p
      | setumeisetumeisetumeisetumeisetumeisetumeisetumeisetumeisetumeisetumei
      | setumeisetumeisetumei
      | setumeisetumeisetumeisetumeisetumei
    a(href='/create') create
