!!!
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='http://' + iohost + '/socket.io/socket.io.js')
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    script(src='/javascripts/exif.js')
    script(src='/javascripts/binaryajax.js')
    script(src='/javascripts/canvasResize.js')
    script(src='/javascripts/jquery.cookie.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/chat.js')

    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="MobileOptimized", content="320")
  body
    span#info
    #map
    #config-open
      img(src="/images/config.png")
      span config
    #config
      a#config-close
        img(src="/images/close.png")
        span close
      form#config-form
        h1 setting
        p
          span Your name
          input#name
          input(type='submit', value='Change')
      #invite
        h1 invite
        p
          span twitter ID
          img#twitter-icon
          input#twitter-id
          button#twitter-invite invite
        p
          a(href='mailto:?body=' + encodeURIComponent('Could you tell me the way to? ' + roomurl) + '&subject=' + encodeURIComponent('Invitation to maigochat')) Send Invitation via email
    ul#users
    form#textform
      input#text
      button.button(type="submit") post
      a.button#uploadphoto
        img(src="/images/camera.png")
    input#photo-input(type="file", accept="image/*")
    ul#log
    #draw
      #draw-field
        canvas#canvas
        img#draw-bg
      #draw-control
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #fff;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #888;")
        span.draw-cmd.cmd-color.cmd-color-box.cmd-selected(style="background-color: #000;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #f00;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #f80;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #ff0;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #0f0;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #0ff;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #00f;")
        span.draw-cmd.cmd-color.cmd-color-box(style="background-color: #f0f;")

        span.draw-cmd.cmd-color.cmd-eraser(data-draw-cmd="color eraser")
        span.draw-cmd.cmd-line1.cmd-size.cmd-selected(data-draw-cmd="size 2")
        span.draw-cmd.cmd-line2.cmd-size(data-draw-cmd="size 5")
        span.draw-cmd.cmd-line3.cmd-size(data-draw-cmd="size 10")
        span.draw-cmd.cmd-line4.cmd-size(data-draw-cmd="size 24")
        span.draw-cmd.cmd-clear(data-draw-cmd="clear")
        button.button#draw-cancel cancel
        button.button#draw-post post
    script
      $(function () {
        var client = new ChatClient({
          roomid: '#{roomid}'
          , roomurl: '#{roomurl}'
          , socket: '#{socket}'
        });
      });
    footer
      span designed by 
      a(href="http://blog.aklaswad.com/about/") aklaswad
      span 
      a(href="/") back to toppage
