body, div {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 480px;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 180px;
}

.following {
  background-color: #cba;
}

.photo {
  width: 256px;
}
