body, div, ul {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 480px;
  background-color: #f8f8f8;
}

a {
  color: #00B7FF;
}
a:hover {
  cursor: pointer;
}

#map {
  width: 100%;
  height: 180px;
}

#info {
  width: 100%;
  height: 20px;
}

.user {
  display: inline-block;
  margin: 3px;
}

.following {
  background-color: #cba;
}

.photo {
  width: 256px;
}

#photo-input {
  display: none;
}
#config {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  height: 200%;
  background: #eee;
  border: 5px solid #ddd;
  padding: 10px;
}
#config-toggle {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 5px;
}

.user-summary {
  padding: 2px 2px;
  background-color: #ace;
  margin: 0 5px;
}

#log {
  min-height: 300px;
}

.log-item {
  list-style: none;
  border-bottom: 1px dotted #ccc;
}

